.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* cards */
.card {
  border: 1px solid #ccc;
  padding: 70px;
  margin: 10px;
  text-align: center;
  background-color: #404040;
  color: aliceblue;
  border-radius: 5px;
  box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.75);
}

.module {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: dimgrey;
}

/* hero */

.hero {
  text-align: center;
  color: #fff; /* Cambia el color de texto según tu diseño */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto */
}

.hero-text {
  font-size: 36px; /* Tamaño del título */
  background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para el texto */
  padding: 20px; /* Espaciado del texto */
}
